<div class="card">
  <div
    class="card-header"
    [ngClass]="{ 'text-decoration-line-through': todo.isActive() }"
  >
    TODO ID # {{ todo.getSno() }}
  </div>
  <div class="card-body">
    <h5
      class="card-title"
      [ngClass]="{ 'text-decoration-line-through': todo.isActive() }"
    >
      {{ todo.getTitle() }}
    </h5>
    <p
      class="card-text"
      [ngClass]="{ 'text-decoration-line-through': todo.isActive() }"
    >
      {{ todo.getDesc() }}
    </p>
    <div class="form-check form-switch mb-3">
      <input
        class="form-check-input"
        (click)="onClickTodoCheckButton(todo)"
        type="checkbox"
        role="switch"
        id="flexSwitch"
        [attr.checked]="todo.isActive() ? '' : null"
      />
      <label class="form-check-label" for="flexSwitch"
        ><B>Is Todo Item Done ?</B>
      </label>
    </div>
    <div *ngIf="todo.isActive()">
      <a href="#" class="btn btn-danger" (click)="onClickTodoDeleteButton(todo)"
        >Delete</a
      >
    </div>
  </div>
</div>
