<div
  class="container-fluid"
  style="background-color: rgb(252, 251, 227); padding: 15px"
>
  <form
    class="row fluid-container m-4"
    id="input-form"
    #formData="ngForm"
    (ngSubmit)="onSubmit(formData)"
  >
    <div class="mb-3 col col-12">
      <label for="title" class="form-label"
        >Todo Title<sup>*Required</sup></label
      >
      <input
        type="textarea"
        xcvxc
        class="form-control"
        name="title"
        [(ngModel)]="title"
        required
      />
    </div>

    <div class="mb-3 col col-12">
      <label for="desc" class="form-label"
        >Description<sup>*Required</sup></label
      >
      <textarea
        class="form-control"
        name="desc"
        [(ngModel)]="desc"
        required
      ></textarea>
    </div>
    <div class="d-grid gap-3 col-4 mx-auto">
      <button
        type="submit"
        [disabled]="!formData.form.valid"
        class="btn btn-outline-primary btn-lg"
      >
        Add Todo Item
      </button>
    </div>
    <div class="d-grid gap-3 col-4 mx-auto">
      <button
        type="button"
        class="btn btn-outline-dark btn-lg"
        (click)="onClickTodoAutoGenerateButton()"
      >
        Auto Generate Todo Item
      </button>
    </div>
  </form>
</div>
