<section style="background-color: #eabfee">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body text-center">
            <img
              src="../../../assets/Aniket_Roy_Photo.jpg"
              alt="avatar"
              class="rounded-circle img"
              style="width: 180px"
            />
            <h5 class="my-3">Aniket Roy</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">Bengaluru Karnataka</p>
            <div class="container-fluid row mx-auto">
              <a
                class="col col-3 bi-twitter"
                style="font-size: 2rem; color: rgb(29 161 242)"
                href="https://twitter.com/Aniket1992Roy"
                target="_blank"
              ></a>
              <a
                class="col col-3 bi-facebook"
                style="font-size: 2rem; color: rgb(66 103 178)"
                href="https://www.facebook.com/profile.php?id=100010329132699"
                target="_blank"
              ></a>
              <a
                class="col col-3 bi-git"
                style="font-size: 2rem; color: rgb(243, 79, 41)"
                href="https://gitlab.com/royaniket20"
                target="_blank"
              ></a>
              <a
                class="col col-3 bi-whatsapp"
                style="font-size: 2rem; color: rgb(18 140 126)"
                href="https://wa.me/8697292048?text=Hello%20%2C%20I%20want%20to%20connect%20with%20you%20"
                target="_blank"
              ></a>
              <i
                class="col col-12 bi bi-upc-scan"
                style="font-size: 1rem; color: rgb(0, 0, 0)"
              >
                Copyright 2023</i
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Aniket Roy</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">royaniket20@gmail.com</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">(086) 972-92048</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bengaluru , Karnataka</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Technology Skills</p>
                <p class="mb-1" style="font-size: 0.77rem">Web Design</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 80%"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Backend Development
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 72%"
                    aria-valuenow="72"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">Devops</p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 89%"
                    aria-valuenow="89"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Team Management
                </p>
                <div class="progress rounded" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 55%"
                    aria-valuenow="55"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <p class="mt-4 mb-1" style="font-size: 0.77rem">
                  Software Architecture Design
                </p>
                <div class="progress rounded mb-2" style="height: 5px">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 66%"
                    aria-valuenow="66"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
