.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: aquamarine;
  min-width: 700px;
  height: 100%;
  margin: 20px;
}

.flex-item {
  margin: 12px;
  /* background-color: blueviolet; */
  max-width: 300px;
}
