<h1 class="text-center">Todo Item Addition with Angular</h1>
<app-todo-add (todoAdd)="addTodoItem($event)"></app-todo-add>

<!-- <ul *ngFor="let todo of todos">
  <li>
    {{ todo.getSno() }}
    {{ todo.getDesc() }}
    {{ todo.getTitle() }}
    {{ todo.isActive() }}
  </li>
</ul> -->
<div *ngIf="this.todos.length === 0; else elseBlock">
  <h1 class="text-center">No Todo Items to Display !!! 🫣🫣🫣 - Add Something</h1>
</div>
<ng-template #elseBlock>
  <h1 class="text-center">Todo Items with Angular 🤗🤗</h1>
  <div class="flex-container">
    <div *ngFor="let todo of todos" class="flex-item">
      <app-todo-item
        [todo]="todo"
        (todoDelete)="deleteToDoItem($event)"
        (todoCheck)="checkToDoItem($event)"
      ></app-todo-item>
    </div>
  </div>
</ng-template>
